.footer {
  background: url("../img/footer/footer-bg.png") center/cover;
}
.footer .box {
  padding: 59px 70px;
  text-align: center;
  background-color: #C70101;
  margin: 0 auto;
  width: 461px;
}
.footer .box a {
  color: #fff;
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 20px;
  margin-bottom: 36px;
}
.footer .box .icons {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.footer .box .icons:before {
  content: "";
  position: absolute;
  width: 51px;
  height: 51px;
  border: 2px solid #fff;
  border-radius: 50%;
}