.header {
  position: absolute;
  top: 0;
  left: 0;
}
.header-nav {
  padding: 21px 0 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}
.header-nav .text__title {
  font-size: 12px;
  margin-bottom: 12px;
}
.header-nav .text__subtitle {
  font-size: 18px;
}
.header-nav .tel {
  display: flex;
  flex-direction: column;
}
.header-nav .tel__nummber {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 7px;
}
.header-nav .tel__button {
  padding: 11px 20px;
  background-color: #C70101;
  border-radius: 8px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}