@import url(../fonts/museo/stylesheet.css);
@import url(../libs/bootstrap-grid.min.css);
@import url(../libs/owl/owl.carousel.min.css);
@import url(../libs/owl/owl.theme.default.min.css);
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: 'Museo Sans Cyrl 700', sans-serif;
}
@media (min-width: 992px) {
  .container{
    max-width: 945px;
  }
}
@media (min-width: 1200px) {
  .container{
    max-width: 945px;
  }
}

@import "header";
@import "home";
@import "about";
@import "consultation";
@import "slider";
@import "catalog";
@import "comment";
@import "footer";
@import "overlay";
@import "btn-up";